{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}

:root {
    --color-gray80: #cccccc;

    --background-color: var(--color-almost-black);
    --text-color: var(--color-off-white);
    --body-text-color: var(--color-off-white);

    --header-border-color: var(--color-gray);
    --header-links-color: var(--color-gray80);
    --footer-border-color: var(--color-gray);
    --footer-links-color: var(--color-gray);
    --table-border-color: var(--color-gray80);
}

html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main#content a {
    color: #00b1ed;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #a7a7a7;
}

main#content ul#posts li a:hover {
    color: #21c7ff;
}

main#content header#post-header div {
    color: #a7a7a7;
}
main#content code:not([class]) {
    color: #d0d0d0;
    background-color: #404040;
}
main#content table,
main#content th,
main#content td {
    border-color:#404040;
}

{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
