@media (min-width: 1000px) {
  body {
    width: 900px;
  }

  main#content ul#posts {
    font-size: 18px;
    font-size: 1.8rem;
  }

  main#content ul#posts small {
    display: inline;
    margin: 0 0px 1em 0.5em;
  }

  /* single.html styles */
  main#content pre {
    padding: 1.5rem 2.2rem;
  }

  /* hamburger */
  .hamb {
    display: none;
  }
  /* main nav desktop start */
  header#banner nav {
    display: inline-block;
    margin-top: auto;
    margin-bottom: 0;
    max-height: 100%;
  }

  header#banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
  }

  header#banner nav ul li {
    display: inline;
    margin: 0 3px;
  }

  /* main nav desktop end */
}
